

.txDets {
    display : flex;
    justify-content: center;
}

.txInputs, .txOutputs {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 1em;
    text-align: center;
    justify-content: center;
}

.eachTx {
    padding:.5em 1em;
    margin:1em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255,.3);
}

button {
    width: max-content;
    border:none;
    padding: .5em;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: #f6f8fa21;
    color: white;
}

.container1 {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.sus {
    width: fit-content;
    background-color: #EF5350;
    padding: 0.7em;
}

.track {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5em 25em;
}


h2 {
    margin-left:3em;
}